.login-box {
    border: 1px solid #e4e5e8;
    margin: 3em auto;
    width: 30%;
    border-radius: .2em;
    padding: 1em;
    /*color:#fea30b;*/
}

.login-box > div {
    margin: .5rem;
    text-align: center;
    /*background: red;*/
}

.input-box {
    width: 99%;
    margin: 1em auto;
    padding: 1em;
    border-radius: .2em;
    border: 1px solid #e4e5e8;
    /*border-color: #4794c8;*/
    /*background: yellow;*/
}

.button {
    width: 99%;
    height: 2rem;
    border-radius: .2em;
    border: 1px solid #4794c8;
    background-color: #4794c8;
    color: #fff;
}

